TABLET
========================= */
@media(max-width:900px){

    header{
        justify-content:center;
        text-align:center;
    }

    .nav-menu{
        width:100%;
    }

    .nav-menu ul{
        justify-content:center;
    }
}

